[submodule "hub/themes/nix"]
	path = hub/themes/nix
	url = https://github.com/LordMathis/hugo-theme-nix.git
[submodule "hub/public"]
	path = hub/public
	url = https://github.com/LoLei/lolei.github.io.git
	branch = master
[submodule "hub/themes/hermit"]
	path = hub/themes/hermit
	url = https://github.com/Track3/hermit.git
